@import "tailwindcss";

@font-face {
  font-family: 'JMH Typewriter';
  src: url('/fonts/JMH Typewriter-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family:var(--font-poppins);
}